
@font-face {
    font-family: 'arcade';
    src: url('fonts/arcade.ttf');
}

@font-face {
	font-family: 'classicArcade';
	src: url('fonts/ARCADECLASSIC.ttf');
}

body{
	font-family: arcade;
	background-image: url("images/background/background_darkmage.png");
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
	user-select: none;
}

#title{
	margin-bottom: -40px;
	margin-top: 20px;
	font-size: 50px;
	color: #b38f00;
	-webkit-text-stroke: 1px white;
	font-weight: 1px;
}

#title span{
	color: darkred;
}

#myCanvas{
	border: solid 1px black;
	margin-top: 50px;
}


